<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-6">
        <img
          src="<%= asset_path('exclusive.png') %>"
          class="offer-image"
          height="auto"
          width="450px"
        />
      </div>
      <div class="col-6 my-5">
        <p>Exclusively availible on RedStore</p>
        <h1>Smart Band 4</h1>
        <small
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
          suscipit minima nulla molestiae quos fugit dignissimos, eum dolorem,
          magni asperiores, sunt veniam quibusdam? Non quis facilis fuga saepe
          illo nisi.</small
        >
        <div>
          <%= link_to "Buy Now", root_path, class:"btn btn-danger my-3
          rounded-8"%>
        </div>
      </div>
    </div>
  </div>
</div>