<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1 col-3">
                <h3>Download Our App!</h3>
                <p>download it for IOS and Android.</p>
            </div>
            <div class="footer-col-2 col-3">
                 <img src="<%= asset_path('logo-white.png') %>" />
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime placeat nisi, distinctio tenetur, enim ad perferendis illum tempore totam doloribus reprehenderit repellat nesciunt facere consectetur!</p>

            </div>
            <div class="footer-col-3 col-3">
                <h3>Usefull Links</h3>
                <ul>
                    <li><%= link_to "About Us", root_path %></li>
                    <li><%= link_to "Privacy policy", root_path %></li>
                    <li><%= link_to "Contact Us", root_path %></li>             
                </ul>
            </div>
            <div class="footer-col-4 col-3">
                <h3>Follow Us on</h3>
                <ul>
                    <li>Facebook  <i class="fa-brands fa-facebook-f"></i></li>
                    <li>twitter  <i class="fa-brands fa-twitter"></i></li>
                    <li>likedin  <i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>