<div class="small-container my-5">
    <div class="row">
        <div class="col-6">
            <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="<%= asset_path('category-1.jpg') %>"
          class="d-flex justify-content-center w-50"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="<%= asset_path('category-2.jpg') %>"
          class="d-flex justify-content-center w-50"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="<%= asset_path('category-3.jpg') %>"
          class="d-flex justify-content-center w-50"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

        </div>
        <div class="col-6">
            <h3>Our Top Selling Products <i class="fa fa-heart" aria-hidden="true"></i>
</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex ipsa harum illo, at rem dicta voluptate praesentium nihil voluptatum eveniet excepturi officia fugiat odio nobis saepe est obcaecati, qui expedita commodi dolorum dolores. Officia tenetur beatae saepe maiores, commodi inventore natus quisquam rerum impedit culpa repudiandae vero, aperiam quod!</p>
        </div>
    </div>
    
  
</div>
