<div class="testimonial">
    <div class="small-container">
         <div class="row">
        <div class="col-4">
            <i class="fa fa-quote-left"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex corporis doloremque numquam alias deserunt consequatur facere rem voluptatem explicabo voluptatum. Nostrum ipsum ipsam mollitia illo facilis eum sunt modi suscipit.</p>

            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <img src="<%= asset_path('user-1.png') %>" />
            <h3>Kosar </h3>

        </div>
                <div class="col-4">
            <i class="fa fa-quote-left"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex corporis doloremque numquam alias deserunt consequatur facere rem voluptatem explicabo voluptatum. Nostrum ipsum ipsam mollitia illo facilis eum sunt modi suscipit.</p>

            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <img src="<%= asset_path('user-2.png') %>" />
            <h3>Bashir </h3>

        </div>
                <div class="col-4">
            <i class="fa fa-quote-left"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex corporis doloremque numquam alias deserunt consequatur facere rem voluptatem explicabo voluptatum. Nostrum ipsum ipsam mollitia illo facilis eum sunt modi suscipit.</p>

            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <img src="<%= asset_path('user-3.png') %>" />
            <h3>Sughra</h3>

        </div>
    </div>
    </div>
   
</div>